/* body{
    background-image: url(../img/pexels-ella-olsson-1640773\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.card{
   
    border-radius: 10px;
    box-shadow: 10px 10px 18px 10px #888888;
}
h2{
    text-align: center;
    font-family: cambria;
    font-weight: bold;
    font-size: 33px;
    font-style: normal;

} */